# Composer dependencies
/vendor/
composer.lock

# Composer binary
/composer.phar

# Mac OS X specific files
.DS_Store

# Windows specific files
Thumbs.db

# Linux specific files
.*.swp
.*.swo

# IDE specific files
/.idea/
/.vscode/
*.sublime-workspace
*.sublime-project

# Logs and caches
/logs/
/cache/

# PHPUnit
/phpunit.xml
/phpunit.xml.dist

# Exported databases
*.sql
*.sqlite

# Environment files
/.env
/.env.local
/.env.*.local

# Node modules (if using Node.js in your project)
/node_modules/

# Build artifacts
/build/
/dist/

# Custom directories (add any specific directories or files relevant to your project)
/custom_folder/
custom_file.txt

# Files containing sensitive information or local configuration
/config/*.local.php

.phpactor.json
